name: Go

on:
  schedule:
    # run every Sunday
    - cron: '0 13 * * 0'
  push:
    branches:
      - main
      - release-0.1x
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build

    strategy:
      fail-fast: false
      matrix:
        image:
          - mongo:4.4
          - mongo:5.0
          - mongo:6.0
          - mongo:7.0
          - mongo:8.0
          - mongo:latest
          - percona/percona-server-mongodb:4.4
          - percona/percona-server-mongodb:5.0
          - percona/percona-server-mongodb:6.0
          - percona/percona-server-mongodb:7.0
          - percona/percona-server-mongodb:latest

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version-file: ${{ github.workspace }}/go.mod

      - name: Run tests with code coverage
        run: |
          TEST_MONGODB_IMAGE=${{ matrix.image }} make test-cluster
          sleep 10
          make test-cover
          make test-cluster-clean


      - name: Upload coverage results
        uses: codecov/codecov-action@015f24e6818733317a2da2edd6290ab26238649a # v5.0.7
        with:
          file: cover.out
          flags: agent
          env_vars: GO_VERSION,TEST_MONGODB_IMAGE
          fail_ci_if_error: false

      - name: Run debug commands on failure
        if: ${{ failure() }}
        run: |
          echo "--- Environment variables ---"
          env | sort
          echo "--- GO Environment ---"
          go env | sort
          echo "--- Git status ---"
          git status
          echo "--- Docker logs ---"
          docker compose logs
          echo "--- Docker ps ---"
          docker compose ps -a
